@inherits ComponentBase
@using ApexCharts

<!--This will be daily graph-->
@if (DailyData != null && (DailyData[0] > 0 || DailyData[1] > 0) )
{
    <MudPaper Class="mb-4" Height="492px" Width="350px">
        <h2 Class="d-flex justify-center align-center" Style="padding-top:10px; margin-bottom:20px;">Daily Sitting and Standing time</h2>
        <div style="position: relative; height: 300px;">
            <ApexChart TItem="TodayTime"
                    Options="options">

                <ApexPointSeries TItem="TodayTime"
                                Items="DailyTime"
                                SeriesType="SeriesType.Donut"
                                Name="Time spent"
                                XValue="e => e.Position"
                                YValue="e => (decimal)e.Time"
                                
                                />
            </ApexChart>
            <MudText Typo="Typo.h3" Class="d-flex justify-center align-center" style="position: absolute; top: 43%; left: 50%; transform: translate(-50%, -50%);">@GetUserSittingStandingRatio()</MudText>
        </div>
        <MudText Typo="Typo.body1" Class="d-flex justify-center align-center" Style="padding-top: 10px;">Optimal Sitting to Standing Ratio</MudText>
        <MudText Typo="Typo.h6" Class="d-flex justify-center align-center">3:1</MudText>
        <MudText Typo="Typo.body1" Class="d-flex justify-center align-center mud-warning-text" Style="padding: 10px; text-align: center;">@GetUserSittingStandingAdviceText()</MudText>
    </MudPaper>
}
else
{
    <MudPaper Class="mb-4" Height="492px" Width="350px">
        <MudPaper Class="mb-4" Height="492px" Width="350px">
            <h2 Class="d-flex justify-center align-center" Style="padding-top:10px; margin-bottom:120px;">Daily Sitting and Standing time</h2>
            <MudCardContent Style="display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center; padding: 16px;">
                <MudIcon Icon="@Icons.Material.Filled.Info" Size="MudBlazor.Size.Large" Color="MudBlazor.Color.Secondary" />
                <MudText Typo="Typo.h5" Style="margin-top: 8px;">No Data Yet</MudText>
                <MudText Typo="Typo.body1" Class="d-flex justify-center align-center mud-warning-text" Style="margin: 8px 0; text-align: center;">Data will become available throughout the day.</MudText>
            </MudCardContent>
        </MudPaper>
    </MudPaper>

}

@code {
    private ApexChartOptions<TodayTime> options { get; set; } = new()
        {
            Legend = new Legend
            {
                Position = LegendPosition.Bottom,
                FontSize = "15px",
                HorizontalAlign = ApexCharts.Align.Center
            }
        };

   
        
    
}