<h3>DashboardEmployee</h3>

<MudGrid>
    <MudItem xs="4">
        <TableComponent Table="_table"></TableComponent>
    </MudItem>
    <MudItem xs="3">
        <PresetComponent></PresetComponent>
    </MudItem>
    <MudItem xs="5">
        <HealthComponent></HealthComponent>
    </MudItem>
</MudGrid>