<h2>Dashboard</h2>

<div style="display: flex; justify-content: center; flex-wrap: wrap">
    <div style="min-width: 420px ;width: auto; margin: 10px; flex-grow: 1">
        <TableComponent Table="_table"></TableComponent>
    </div>
    <div style="min-width: 350px ;width: auto; margin: 10px;">
        <DailyGraphComponent />
    </div>
    <div style="min-width: 400px ;width: auto; margin: 10px; margin-right: 10px; flex-grow: 1">
        <PresetComponent />
        <HealthNotificationComponent Table="_table"/>
    </div>
</div>