@page "/health"
@inherits HealthBase

<h2>Health Panel</h2>

<div style="display: flex; justify-content: center; margin-top: 20px;">
    <div style="margin-right: 20px;">
        <WeeklyGraphComponent />
    </div>
    <div>
        <HealthPresetComponent />
    </div>
</div>