@inherits ComponentBase

<!--This will be daily graph-->
@if (DailyData != null)
{
    <div class="d-flex justify-content-between">
        <div class="mr-2">
            @if (DailyData != null){
            <MudPaper Class="mb-4">
                <MudChart ChartType="ChartType.Donut" Width="300px" Height="300px" @bind-SelectedIndex="SelectedIndex" InputData="@DailyData" InputLabels="@DailyLabels"></MudChart>
            </MudPaper>
            }
        </div>
        <div class="ml-2">
            @if (WeeklyData != null && XAxisLabels != null)
            {
                <MudPaper Class="mb-4">
                    <MudChart ChartType="ChartType.Bar" ChartSeries="@WeeklyData" XAxisLabels="@XAxisLabels" Width="100%" Height="350px"></MudChart>
            </MudPaper>
            }
        </div>
    </div>
}
