@page "/settings"
@inherits SettingsBase
<PageTitle>Settings</PageTitle>

<MudContainer Class="d-flex justify-start" Style="height: 50%;">
    <MudCard Style="width: 100%; max-width: 400px; margin-top: 40px;">
        <MudCardContent>
            <h4 class="text-center" style="margin-bottom:10px;">Change Password</h4>
            <MudDivider style="margin-bottom: 24px;" />

            <form @onsubmit="OnChangePassword" style="display: flex; flex-direction: column; gap: 12px;">
                <div>
                    <label for="currentPassword" class="form-label">Current Password</label>
                    <MudTextField T="string" @bind-Value="settingsModel.CurrentPassword" Required="true" InputType="InputType.Password" />
                </div>

                <div>
                    <label for="newPassword" class="form-label">New Password</label>
                    <MudTextField T="string" @bind-Value="settingsModel.NewPassword" Required="true" InputType="InputType.Password" />
                </div>

                <div>
                    <label for="confirmPassword" class="form-label">Confirm New Password</label>
                    <MudTextField T="string" @bind-Value="settingsModel.ConfirmedPassword" Required="true" InputType="InputType.Password" />
                </div>

                <div class="d-flex justify-center">
                    <MudButton Disabled="@isSubmitting" @onclick="OnChangePassword" ButtonType="ButtonType.Submit" Color="Color.Primary" Variant="Variant.Filled">
                    @if (isSubmitting)
                    {
                        <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true"/>
                        <MudText Class="ms-2">Changing Password..</MudText>
                    }
                    else
                    {
                        <MudText>Change Password</MudText>
                    }
                    </MudButton>
                </div>
            </form>

            @if (!string.IsNullOrEmpty(ErrorMessage))
            {
                <p>@ErrorMessage</p>
            }
        </MudCardContent>
    </MudCard>
</MudContainer>
